<a href="https://colab.research.google.com/github/EQL-123/ACC_Py_Classes/blob/main/Ephraim's_April_23_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Remove empty srings from the lisy of strings . list1 = ["Mike", "", "Emma", "Kelly", "" ,"Brad"]

In [8]:
list1 = ["Mike",'',"Emma","Kelly",'',"Brad"]
indexes_to_remove = (2,5)
print(list1)

['Mike', '', 'Emma', 'Kelly', '', 'Brad']

2. Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following python list
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [9]:
list1 = [10,20,[300,400,[5000,6000],500],30,40]

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)

print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

3. Extend nested list by adding the sublist,You have given a nested list.Write a program to extend it by adding the sublist.Add the sublist ['h','i','j]'
Given list: list1 = ['a', 'b', ['c', ['d', 'e', ['f' ,'g', ],'l' ],'m', 'n' ]

In [12]:
 list1 = ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'l'], 'm', 'n']]

list1[2][1][2].extend(['h', 'i', 'j'])

print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'l'], 'm', 'n']]

4. Replace lists's item wuth new value if found.You have given a python list.Write a program to find value 20, in the list and replace it with 200.On;y update the first occurance of an item.
Given list: list1 = [5,10,15,20,25,50,20]

In [13]:
list1 = [5, 10, 15, 20, 25, 50, 20]

index = list1.index(20)
list1[index] = 200

print(list1)

[5, 10, 15, 200, 25, 50, 20]